/* *************** */ 
/* *** General *** */
/* *************** */

.btn:focus{outline: none;}
.btn:active{outline: none;}

/* ************* */ 
/* *** Fonts *** */
/* ************* */

@font-face {font-family: basileus;	src: url(fonts/BASILEUS.TTF)}
@font-face {font-family: caesar;	src: url(fonts/CAESAR.TTF)}
@font-face {
    font-family: dalek;
    src: url(fonts/DALEK.TTF),
		 url(fonts/dalek-webfont.woff2) format('woff2'),
         url(fonts/dalek-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: dalek;	src: url(fonts/DALEK.TTF)}
@font-face {font-family: diogenes;	src: url(fonts/DIOGENES.TTF)}
@font-face {font-family: geliofasolada;	src: url(fonts/GelioFasolada.TTF)}
@font-face {font-family: geliogreekdiner;	src: url(fonts/GelioGreekDiner.TTF)}
@font-face {font-family: geliokleftiko;	src: url(fonts/GelioKleftiko.TTF)}
@font-face {font-family: geliopasteli;	src: url(fonts/GelioPasteli.TTF)}
@font-face {font-family: gelioretsina;	src: url(fonts/GelioRetsina.TTF)}
@font-face {font-family: pythia;	src: url(fonts/pythia.TTF)}
@font-face {font-family: ringbearer;	src: url(fonts/RINGBEARER.TTF)}
@font-face {font-family: spqr;	src: url(fonts/spqr.TTF)}
@font-face {font-family: spqri;	src: url(fonts/spqri.TTF)}

/* ******************************** */ 
/* *** BASIC PAGE *** */
/* ******************************** */
body {
	background-size: cover;
	background-image: url("img/home/delphi_gym.jpg");
	background-color: #cccccc;
	height: 100vh;
}

.BP{
	position:relative;
	
	max-width: 1200px;
	margin: auto;
	padding-bottom: 10px;
	border-radius: 5px;
	
	font-family: Trebuchet MS;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	font-size: 16px;
	color: black;
	
	background-color: rgb(255, 230, 204);
	background-color: rgba(255, 230, 204, 0.8);
}

.BP h1{font-size: 24px; font-weight: 600;}
.BP h2{font-size: 20px;}
.BP p{font-size: 16px;}

@media only screen and (max-width: 339px) {
	.BP h1{font-size: 20px;}
	.BP h2{font-size: 16px;}
	.BP p{font-size: 14px;}
}

.BP-H{
	position: absolute;
	width: 100%;
}

.BP-H.dropdown {float: right;}

.BP-H-logo{
	float: left;
	height: 40px;
	width: auto;
	}

.BP-H-name{
	float: left;
	line-height: 40px;
	padding-left: 5px;
	}

.BP-title{
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #4B9CD3;
}

/*** NAVBAR ***/

.navbar-toggler{
	right: 0%;
	background-color: #808080;
	opacity: 0.8;
}

.navbar{
	top: 0%;
	display: flex;
	width: 100%;
	color: #808080;
}

.navbar-collapse{
	background-color: #b1b1b1;
}

.nav-link{
	text-align: right;
	margin: 0px;
	padding: 0px;
	margin-right: 10px;
}
.nav-item{
	text-align: right;
	margin: 0px;
	padding: 0px;
	margin-right: 10px;
}

.dropdown-menu{
	background-color:#808080;
}

/*** MISC ***/

a{color:black;}
a:hover{color:black;}

/* ******************************** */ 
/* *** MAIN PAGE *** */
/* ******************************** */

.MP-title{
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.MP-top{
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
}

.MP-circle{
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
	background-color: #e6e6e6;
	border-radius: 50%;
	margin: 2px;
}

@media only screen and (min-width: 694px) {	.MP-circle{width: 551px;}	}

.MP-circle-r1{
	display: flex;
	justify-content: center;
	flex-wrap: no-wrap;
	width: 100%;
	overflow: auto;
	margin: 0px;
	padding: 0px;
}

.MP-circle-r2{
	display: flex;
	justify-content: center;
	flex-wrap: no-wrap;
	width: 100%;
	overflow: auto;
	margin: 0px;
	padding: 0px;
}

.MP-circle-mid{
	position: absolute;
	left: 25%;
	top: 25%;
	
	display: flex;
	justify-content: center;
	text-align: center;
	width: 50%;
	height: 50%;
	background-color: inherit;
	border-radius: 50%;
}

.MP-CM-logo{
	position: relative;
	top: 25%;
	left: 0%;
	
	display: block;
	width: 100%;
	height: auto;
}

.MP-CM-logo:hover{opacity: 0.7}

.MP-CM-logobox{
	position: relative;
	width: 50%;
	height: 100%;
	margin: 1%;
}

.MP-circle-qtr{
	position: relative;
	width: 50%;
    padding: 0px;
	padding-top: 48%;
	background-size: cover;
	margin: 1%;
	overflow: hidden;
}

.MP-circle-qtr:hover{opacity: 0.7;}

.MP-CQ-top-left{
	/* Community */
	border-radius: 100% 0 0 0;
    -moz-border-radius: 100% 0 0 0;
    -webkit-border-radius: 100% 0 0 0;
	
	background-size: cover;
	background-image: url("img/home/slider_1.jpg");
	background-color: yellow;
}
.MP-CQ-top-right{
	/* Combat */
	border-radius: 0 100% 0 0;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
	
	background-size: cover;
	background-image: url("img/home/slider_2.jpg");
	background-color: red;

}
.MP-CQ-bottom-left{
	/* Character */
    border-radius: 0 0 0 100%;
    -moz-border-radius: 0 0 0 100%;
    -webkit-border-radius: 0 0 0 100%;
	
	background-size: cover;
	background-image: url("img/home/slider_6.jpg");
	background-color: blue;

}
.MP-CQ-bottom-right{
	/* Crafting */
    border-radius: 0 0 100% 0;
    -moz-border-radius: 0 0 100% 0;
    -webkit-border-radius: 0 0 100% 0;
	
	background-size: cover;
	background-image: url("img/home/slider_4.jpg");
	background-color: green;
}

/*** CIRCULAR FONT ***/

.MP-C-text {
	width: 100%;
	height: auto;
	
	position: absolute;
	left: 0%;
	top: 0%;
	
	font-family: Trebuchet MS;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	font-size: 18px;
	color: black;
}

/* ******************************** */ 
/* *** SECONDARY PAGE *** */
/* ******************************** */

.SP-G{
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
	margin: 0%;
	padding: 0%;
	/*background-color: #b1b1b1;*/
}

.SP-G img{
	min-width: 100%;	
	height: 100%;
	flex-shrink: 0;
	margin: auto;
	padding: 0%;
}

.SP-G-box{
	width: 100%;
	height: 200px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	margin: 0.25%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	/*background-color: #cccccc;*/
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.SP-G-box:hover{opacity: 0.7;}

.SP-T{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: auto;
	padding-left: 5px;
	padding-right: 5px;
	/*background-color: #808080;*/
}

.SP-T-text{
	max-width: 693px;
}

.SP-L{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: auto;
	margin: 0%;
	padding: 0%;
	/*background-color: #b1b1b1;*/
}

.SP-L a{
	display: flex;
	height: auto;
}

.SP-L img{
	display: none;
	min-width: 100%;	
	height: 100%;
	flex-shrink: 0;
	margin: auto;
	padding: 0%;
}

.SP-L-box{
	position: relative;
	width: 99vw;
	cursor: pointer;
	transition: 0.3s;
	margin: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0px;
	overflow: auto;
	display: inline-block;
	justify-content: center;
	
	/*background-color: #cccccc;*/
	border: 2px solid #7F7F7F;
}

.SP-L-text{
	z-index: 1;
	position: relative;
	bottom: 0%;
	left: 0%;
	display: inline-block;
	text-align:center;
	margin-bottom: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	
	width: 100%;

	background-color: #891717;
}

.SP-L-box:hover{opacity: 0.7;}

@media only screen and (min-width: 694px) {
	.SP-L img{display: block;}
	.SP-L-box{
		max-width: 300px;
		height: 200px;
		}
	.SP-L-text{
		position:absolute;
		border-top: 2px solid #7F7F7F;
		}
}

/* **************** */ 
/* *** SUBPAGES *** */
/* **************** */

.dropdown{}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  
  border-left: 5px solid black;
}

/* ************************ */ 
/* *** MOBILE FUNCTIONS *** */
/* ************************ */

.hidexx{display:none;} @media only screen and (min-width: 340px) {.hidexx{display:flex;}}
.hidexs{display:none;} @media only screen and (min-width: 486px) {.hidexs{display:flex;}}
.hidesm{display:none;} @media only screen and (min-width: 694px) {.hidesm{display:flex;}}
.hidemd{display:none;} @media only screen and (min-width: 992px) {.hidemd{display:flex;}}
	
/* ************* */ 
/* *** MODAL *** */
/* ************* */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
	border-radius: 0px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #modal-caption { 
    animation-name: zoom;
    animation-duration: 0.4s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.modal-close {
    position: absolute;
    top: -15px;
    right: 5px;
    color: #808080;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
    color: #bfbfbf;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}