<!----------------------------------------------------------------------------------------> 
<!--------------------------------------- General ---------------------------------------->
<!---------------------------------------------------------------------------------------->

.btn:focus{outline: none;}
.btn:active{outline: none;}

<!----------------------------------------------------------------------------------------> 
<!---------------------------------------- Fonts ----------------------------------------->
<!---------------------------------------------------------------------------------------->

@font-face {font-family: basileus;	src: url(fonts/BASILEUS.TTF)}
@font-face {font-family: caesar;	src: url(fonts/CAESAR.TTF)}
@font-face {
    font-family: dalek;
    src: url(fonts/DALEK.TTF),
		 url(fonts/dalek-webfont.woff2) format('woff2'),
         url(fonts/dalek-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: dalek;	src: url(fonts/DALEK.TTF)}
@font-face {font-family: diogenes;	src: url(fonts/DIOGENES.TTF)}
@font-face {font-family: geliofasolada;	src: url(fonts/GelioFasolada.TTF)}
@font-face {font-family: geliogreekdiner;	src: url(fonts/GelioGreekDiner.TTF)}
@font-face {font-family: geliokleftiko;	src: url(fonts/GelioKleftiko.TTF)}
@font-face {font-family: geliopasteli;	src: url(fonts/GelioPasteli.TTF)}
@font-face {font-family: gelioretsina;	src: url(fonts/GelioRetsina.TTF)}
@font-face {font-family: pythia;	src: url(fonts/pythia.TTF)}
@font-face {font-family: ringbearer;	src: url(fonts/RINGBEARER.TTF)}
@font-face {font-family: spqr;	src: url(fonts/spqr.TTF)}
@font-face {font-family: spqri;	src: url(fonts/spqri.TTF)}

<!----------------------------------------------------------------------------------------> 
<!-------------------------------------- Site Format ------------------------------------->
<!---------------------------------------------------------------------------------------->  

.mhead{
	
}

.brandimg{
	width: 50px;
	height: 50px;
	float: left;
}

.brand1{				
	font-family: dalek;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30px;
	color: #FFC111;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 0px;
	left: 2px;
}

.brand2{
	font-family: dalek;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 14px;
	text-align: top;
	color: #FFC111;
	padding: 0px;
	margin: 0px;
	position: relative;
	bottom: 12px;
	left: 2px;
}

@media only screen and (max-width:767px) {
	.brand1{
		font-size: 36px;
		top: 10px;
	}
}

.hidexs{display:none;}
@media only screen and (min-width: 768px) {
	.hidexs{display:inline;}
	}
	
.hidexxs{display:none;}
@media only screen and (min-width: 320px) {
	.hidexxs{display:inline;}
	}
	
.zpadlr{
	padding-left:0px;
	padding-right:0px;
	}

.zmarlr{
	margin-left:0px;
	margin-right:0px;
	}
	
.webbody{
	max-width:1500px;
}	

.mbackground{
	background-size:cover;
	background-position: center top;
	height: 100vh;
	width: auto;
}


<!----------------------------------------------------------------------------------------> 
<!------------------------------------- Button Format ------------------------------------>
<!---------------------------------------------------------------------------------------->      

a:link    {
text-decoration:  none;}

.mybutton { 
	position: relative;
	float: left;
	width: 100%;
	height: 40px;
	border: 2px solid #7F7F7F;
	text-align: center;
	box-sizing: border-box;
	margin: 2px;
	opacity: 1.0;
	filter: alpha(opacity=80);
	background-size:cover;
	background-position: center top;
}

.mybutton:hover {
	border: 3px solid #FFC111;	
}

.mybutton text {
	position: absolute;
	margin: auto;
	bottom: 0%;
	left: 0%;
	width: 100%;
	line-height: 40px;
	color: #FFC111;
	font-size: 16px;
	font-family: Copperplate,Copperplate Gothic Light,fantasy;
	z-index: 3;
}

.BTNbanner{
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 36px;
	border: none;
	z-index: 2;
}

.BTNimg{
	position: absolute;
	width: 100%;
	height: 196px;
	display: none;
	z-index: 1;
}

.BTNcol{
	width:100%;
	float:right;
}

.smRow{
	width:100%;
}

@media only screen and (min-width: 320px) {
	.mybutton {height: 50px;}
	.mybutton text {font-size: 24px; line-height: 50px;}
	.BTNbanner{height: 46px;}
	.smRow {width:auto;}
}
@media only screen and (min-width: 768px) {
	.mybutton { 
		height: 200px;
		width: 300px;
	}
	.BTNimg{
		display: block;
	}
	.BTNbanner{
		border-top: 2px solid #7F7F7F;
	}
	.BTNcol{
		width:320px;
		padding:0;
		margin:0;
	}
}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}

<!----------------------------------------------------------------------------------------> 
<!------------------------------------- btnv2 Format ------------------------------------>
<!----------------------------------------------------------------------------------------> 

.mybox {
	height:100px;
	width: 150px;
	background-color:#7F7F7F;
}

.btnv2 {
	position: relative;
	float: left;
	width: 360px;
	height: 225px;
	box-sizing: border-box;
	border: 2px solid #7F7F7F;
	text-align: center;
	margin: 2px;
	padding: 0px;
	background-size: cover;
	background-position: center top;
}

.b2text{
	z-index: 2;
	position: absolute;
	bottom: 0%;
	left: 0%;
	text-align:center;
	
	width: 100%;
	height: 54px;
	box-sizing: border-box;
	border-top: 2px solid #7F7F7F;
	
	background-image:url('img/common/leather_red.jpg');
	background-size:cover;
	background-position: center bottom;
	
	color: #FFC111;
	font-family: diogenes;
	line-height: 54px;
	font-size: 28px;
}

.btnv2:hover {
	border: 3px solid #FFC111;
}

@media only screen and (max-width: 767px) {
	.btnv2{
		height: 60px;
		width: 100%;
		background-size: initial;
	}
	.b2text{border: none;}
}

<!-- ---------------------------------------------------------------------------------- -->  
<!-- ---------------------------------- Image Slider ---------------------------------- -->  
<!-- --------------------------------------------------------------------------------- -->      

* {box-sizing: border-box;}
.mySlides {display: none;}
.mySlides body {font-family: Verdana, sans-serif;}
.mySlides img {vertical-align: middle;}

<!-- Slideshow container -->
.slideshow-container {
	max-width: 500px;
	height: auto;
	position: relative;
	margin: 0px;
}

<!-- The dots/bullets/indicators -->
.mySlides-dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	border: none;
	outline: none;
}

.Slideshow-active {
	background-color: #717171;
}

<!-- Fading animation -->
.Slideshow-fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5;
}

@-webkit-keyframes Slideshow-fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes Slideshow-fade {
	from {opacity: .4} 
	to {opacity: 1}
}

.btn-circle {
	width: 15px;
	height: 15px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 20px;
	border-radius: 10px;
	margin: 0 2px;
	border: none;
	outline: none;
}

.buttonCOL {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 3px;
	margin-bottom: 7px;
}